:root {
  --white: #fff;
  --bg-gray: #ddd;
  --link-hover: #f9f3f3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Roboto, Poppins, "Segoe UI", Tahoma, monospace, Verdana,
    sans-serif;
  margin: 0;
  background-color: var(--bg-gray);
}

a {
  font-weight: 600;
}

/* Header */
header nav {
  height: 67px;
  box-shadow: 10px 10px 20px white, -10px -10px 20px black;
}
header li {
  margin: 0 5px;
}
nav li:hover:not(#close, #menu),
#sidebar li a:hover:not(#content-icon) {
  box-shadow: 10px 10px 20px white, -10px -10px 20px black;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: transparent;
  font-weight: bold;
}
nav li:hover:not(#close, #menu),
#sidebar li a:hover:not(#content-icon) {
  box-shadow: 10px 10px 20px white, -10px -10px 20px black;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: transparent;
  font-weight: bold;
  transform: translateY(4px);
}
/* Header */

/* Sidebar */
#sidebar {
  display: none;
  padding: 0px;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  box-shadow: -5px 0 10px white;
  min-width: 250px;
  backdrop-filter: blur(10px);
  transition: all 0.75s;
}

#sidebar li {
  width: 100%;
}
/* Sidebar */

/* Hero */
#hero {
  padding-left: 20px;
  height: 90vh;
}

#hero h2 {
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px white, -10px -10px 20px black;
}
#hero span {
  box-shadow: 0px 0px 10px white;
}
.btn {
  box-shadow: 1px 1px 5px white, -1px -1px 5px black;
}
.btn:hover {
  box-shadow: 5px 5px 10px black, -5px -5px 10px white;
}
/* Hero */

/* Project */
#project-title {
  background-color: var(--bg-gray);
  padding: 10px;
  margin: 20px auto;
  border: 1px solid white;
  border-left: 5px solid black;
  border-right: 5px solid black;
  box-shadow: 0 0 20px white;
}
/* Project */

.pointer {
  cursor: pointer;
}

/* Tablet */
@media (max-width: 991px) {
  #sidemap li:not(#menu) {
    display: none;
  }
  #sidebar {
    transition: 0.75s ease;
    right: 0;
  }
}
/* Tablet */

/* Moblie View */
@media (max-width: 400px) {
  #sidebar {
    width: 100%;
  }
}
